# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env.sample

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep

# Ignore uploaded files and key-value store.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Never commit the key that decrypts config/credentials.yml.enc.
/config/master.key

# Coverage reports
/coverage/
